.mat-row:hover{
    background-color: #968c8c7a;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    border-color: currentColor;
    font-weight: bold;
  }

  p {
  font-family: Lato;
  }

  table {
  width: 70%;
  margin: 0 auto;
  margin-top: 25px;
  }

  .btn-edit {
  text-align: right;
  }

  h1{
    text-align: center;
  }

  h2 {
  text-align: center;
  padding-top: 20px;
  }

  .mat-divider {
    margin: 20px 15%;
    width: 70%;
  }

  .table-header {
  width: 70%;
  margin: auto;
  text-align: right;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  }


  .button-remove-rows {
  margin-right: 5px;
  }

  .button-remove {
  color: red;
  }

  ::ng-deep .mat-form-field-infix {
  width: 100% important;
  }

  .form-input {
  padding-right: 5px;
  }

  label {
    padding: 0 8px;
  }

  .demo-inline-card {
    width: 300px;
    margin-bottom: 1rem;
  }

  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  .example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
