<h1>  Gestion des bénévoles </h1>

  <mat-divider></mat-divider>

  <article class="table-header">
    <div class="filterInput mt-3">
      <mat-form-field class="mat-mdc-form-field">
        <mat-label>Filtrer par Nom, prénom, Email</mat-label>
        <input matInput (keyup)="applyFilterText($event)" placeholder="Ex. Berry" #input>
      </mat-form-field>
    </div>
      <div class="btn-add-del">
        <button
        class="button-add-row"
        mat-raised-button color="accent"
        (click)="addRow()"
        *ngIf="isAuth"
        >
          Add Row
        </button>
        <button
          class="button-remove-rows"
          mat-raised-button color="warn"
          (click)="removeSelectedRows()"
          *ngIf="isAuth"
        >
          Remove Rows
        </button>
      </div>
    </article>

  <!--Filters all-->


  <table mat-table [dataSource]="benevolesDisplay">
    <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
      <!--- switch case on the col.key --->
      <th mat-header-cell *matHeaderCellDef [ngSwitch]="col.key">
        <!---If key of column is isSelected--->
        <span *ngSwitchCase="'isSelected'">
          <mat-checkbox
            (change)="selectAll($event)"
            [checked]="isAllSelected()"
            [indeterminate]="!isAllSelected() && isAnySelected()"
            *ngIf="isAuth"
          ></mat-checkbox>
        </span>
        <!-- Default case : the label of the column --->
        <span *ngSwitchDefault>{{ col.label }}</span>
      </th>
      <td mat-cell *matCellDef="let element">
        <!-- If the user is not editing -->
        <!--- switch case on the col.type --->
        <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
          <!---If type of column is isSelected--->
          <ng-container *ngSwitchCase="'isSelected'">
            <mat-checkbox
              (change)="element.isSelected = $event.checked"
              [checked]="element.isSelected"
              *ngIf="isAuth"
            ></mat-checkbox>
          </ng-container>
          <!---If type of column is isEdit--->
          <div class="btn-edit" *ngSwitchCase="'isEdit'">
            <button
            mat-icon-button color="accent"
            (click)="element.isEdit = !element.isEdit"
            *ngIf="isAuth"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              class="button-remove"
              (click)="removeRow(element._id)"
              *ngIf="isAuth"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button
              mat-mini-fab
              color="primary"
              [routerLink]="['/single-benevole-affectations', element._id]"
              *ngIf="isAuth"
            >
              <mat-icon>timer</mat-icon>
            </button>
          </div>
          <!---If type of column is affectations -->
          <span *ngSwitchCase="'affectations'">
            {{ nombreAffectationsOfBenevole(element) }}
          </span>
          <!---Default case -->
          <span *ngSwitchDefault>
            {{ element[col.key] }}
          </span>
        </div>
        <!-- If the user is editing -->
        <!--- switch case on the col.type --->
        <div [ngSwitch]="col.type" *ngIf="element.isEdit">
          <!---If type of column is isSelected--->
          <div *ngSwitchCase="'isSelected'"></div>
          <!---If type of column is isEdit--->
          <div class="btn-edit" *ngSwitchCase="'isEdit'">
            <button
              mat-button
              (click)="editRow(element)"
              [disabled]="disableSubmit(element._id)"
              *ngIf="isAuth"
            >
              Done
            </button>
            <button
            mat-button
            (click)="cancelEdit(element)"
            *ngIf="isAuth"
          >
            Cancel
          </button>
          </div>
          <!---If type of column is affectations -->
          <span *ngSwitchCase="'affectations'">
            {{ nombreAffectationsOfBenevole(element) }}
          </span>
          <!--Default case : other column types -->
          <mat-form-field class="form-input" *ngSwitchDefault>
            <input
              matInput
              [required]="col.required"
              [pattern]="col.pattern"
              [type]="col.type"
              [(ngModel)]="element[col.key]"
              #ngModel="ngModel"
              (ngModelChange)="inputHandler($event, element._id, col.key, ngModel)"
              *ngIf="isAuth"
            />
          </mat-form-field>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
