@import 'src/theme.scss';

@keyframes enlarge {
  0% {
    font-size: 3rem;
  }
  50% {
    font-size: 3.3rem;
  }
  100% {
    font-size: 3rem;
  }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    margin-top : 4rem;

    .title-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;

      h1 {
        font-size: 3rem;
        margin: 15px;
      }

      .animated-text{
        animation-name: enlarge;
        animation-duration: 1.8s;
        animation-iteration-count: infinite;
      }

      p {
        font-size: 1.5rem;
        margin: 10px;
      }
    }

    .mat-divider {
      margin: 30px 20%;
      margin-top: 0;
      width: 65%;
    }

    .card-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
      max-width: 800px;
      width: 100%;

      .card {
        background-color: $primary-color;
        color: $accent-color;
        /* 500 c'est normal et 700 c'est bold */
        font-weight: 525;

        mat-card-header {
          background-color: var(--primary-color);
          color: var(--accent-color);

          mat-card-title {
            font-size: 2rem;
            margin: 0;
            color: $font-color;
          }
        }

        mat-card-content {
          font-size: 1.2rem;
          margin-top: 1rem;
        }

        &:hover {
          background-color: $secondary-color;
          color: $accent-color;
          /* 500 c'est normal et 700 c'est bold */
          font-weight: 575;
          cursor: pointer;
          transform: scale(1.05);
          transition: transform 0.2s ease-in-out;
        }
      }
    }
  }
