<!-- home.component.html -->

<div class="container">
    <div class="title-container">
      <h1>Bienvenue Dans Festival App!</h1>
      <p>Choisir Une Catégorie POur Commencer !</p>
    </div>
    <div class="card-container">
      <mat-card class="card" routerLink="/benevoles">
        <mat-card-header>
          <mat-card-title>Bénévoles</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Gestion Des Bénévoles</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="card" routerLink="/affectations">
        <mat-card-header>
          <mat-card-title>Affectations</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Gestion Des Affectations</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="card" routerLink="/jeux">
        <mat-card-header>
          <mat-card-title>Jeux</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Gestion Des Jeux</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="card" routerLink="/zones">
        <mat-card-header>
          <mat-card-title>Zones</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Voir Les Zones</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  