.mat-row:hover{
  background-color: #968c8c7a;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  border-color: currentColor;
  font-weight: bold;
}

p {
font-family: Lato;
}

table {
width: 60%;
margin: 0 auto;
margin-top: 25px;
padding-bottom: 5%;
}

.btn-edit {
text-align: right;
}

h1{
  text-align: center;
}

h2 {
text-align: center;
padding-top: 20px;
}

.table-header {
width: 60%;
margin: auto;
text-align: right;
margin-bottom: 10px;
display: flex;
align-items: center;
justify-content: space-between;
}

.mat-divider {
  margin: 20px 20%;
  width: 60%;
}

.button-remove-rows {
margin: 5px;
}

::ng-deep .mat-form-field-infix {
width: 100% important;
}

.form-input {
padding-right: 5px;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.buttonAddRow {
  margin-top: 5px;
}
